.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap;
    padding: 2em;
}
.cat-cards{
    flex: 1 1 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    margin: 1em;
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}
.cat-cards img{
    max-width: 100%;
    height: auto;
    border-radius: 8px ;
}
header{
    margin: 0.5em;
}

